# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/node_modules/
.idea
node_modules
demo2
npm-debug.log
MDPlayer.log*
wxw
.vscode
package-lock.json
/demo/21.mp4